@import url(../base/base.css);
@import url(../components/botao.css);
@import url(../components/entrada.css);
@import url(../components/campo.css);
@import url(../components/cabecalho.css);
@import url(../components/rodape.css);
@import url(../components/contato.css);
@import url(../components/messages.css);

.login {
    background-color: var(--cinza-claro);
}

.formulario-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 17.2rem;
    margin: 0 auto;
    padding: 5.3rem 0;
    box-sizing: border-box;
}

.formulario-login__titulo {
    font-weight: 700;
    color: var(--cinza-fonte);
    line-height: 1rem;
    margin: .5rem 0;
}

@media screen and (min-width:1024px) {
    .formulario-login {
        max-width: 26.75rem;
    }

    .formulario-login__titulo {
        font-size: 1.125rem;
        line-height: 1.31rem;
        margin: 1rem 0;
    }
    
    .formulario-login .botao {
        width: 100%;
    }
}