@import url(../base/base.css);
@import url(../components/botao.css);
@import url(../components/entrada.css);
@import url(../components/campo.css);
@import url(../components/cabecalho.css);
@import url(../components/produto.css);
@import url(../components/rodape.css);
@import url(../components/contato.css);

main {
    background-color: var(--cinzaE5);
    color: var(--cinza-fonte);
}

.cabecalho-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin: 2rem 0;
}

.titulo {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.625rem;
}

.botao-novo {
    color: var(--branco);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1rem;
    padding: 1rem;
    background-color: var(--azul);
    border: 0;
    margin: 1rem 0;
}

.produto {
    position: relative;
    z-index: 1;
}

.produto__opcoes {
    position: absolute;
    top: .5rem;
    right: .5rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: fit-content;
}

.produto_botao {
    display: block;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    z-index: 2;
}

@media screen and (min-width:768px) {
    .cabecalho-main {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width:1024px) {
    .titulo {
        font-size: 2rem;
        line-height: 2.375rem;
    }
}