.cabecalho {
    background-color: var(--branco);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.cabecalho__logo {
    width: 6.25rem;
}

.cabecalho__botao {
    color: var(--azul);
    border: 1px solid var(--azul);
    padding: 0.75rem 1rem;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1rem;
    width: 8.25rem;
    cursor: pointer;
}

.cabecalho__botao-pesquisa {
    padding: .5rem 1rem;
    background-color: transparent;
    border: 0;
}

.cabecalho__input-pesquisa {
    display: none;
}

@media screen and (min-width:768px) {
    .cabecalho {
        padding:1rem 2rem;
    }

    .cabecalho__botao-pesquisa {
        display: none;
    }

    .cabecalho__input-pesquisa {
        display: block;
        font-size: 1rem;
        font-weight: 400;
        color: var(--cinza-fonte);
        background-color: var(--cinza-claro);
        border: 0;
        border-radius: 1rem;
        padding: .5rem 0 .5rem 1rem;
        margin-left: 1rem;
        margin-right: auto;
        width: 35%;
    }

    .cabecalho__input-pesquisa::placeholder {
        font-size: 0.875rem;
        color: var(--cinza-medio);
        background: url(../img/Lupa-Input.svg) no-repeat;
        background-position: 100%;
    }
}

@media screen and (min-width:1024px) {
    .cabecalho {
        padding:2rem 6rem;
    }
}