.categoria__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}


.categoria__titulo {
  color: var(--cinza-fonte);
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.625rem;
}


.categoria__link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: 700;
  font-size: .875rem;
  line-height: 1rem;
  color: var(--azul);
}

.categoria_image-link {
  width: 0.625rem;
  height: 0.625rem;
}


@media screen and (min-width:768px) {
  .categoria__link {
    font-size: 1rem;
  }

  .categoria_image-link {
    width: 1rem;
    height: 1em;
  }

}

@media screen and (min-width:1024px) {
  .categoria__titulo {
    font-size: 2rem;
    line-height: 2.375rem;
  }
}