.produtos {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2rem;
  box-sizing: border-box;
}

.produtos li{
  min-width: 7rem;
  width: calc(25% - 1.5rem);
}

.produto{
  color: var(--cinza-fonte);
}

.produto__imagem {
  width: 100%;
  margin-bottom: .5rem;
}

.produto__nome {
  font-weight: 500;
  font-size: .875rem;
  line-height: 1rem;
  margin-bottom: .5rem;
}

.produto__preco {
  font-weight: 700;
  line-height: 1.25rem;
  display: block;
  margin-bottom: 0.5rem;
}

.produto__link {
  font-weight: 700;
  font-size: .875rem;
  line-height: 1rem;
  color: var(--azul);
}

@media screen and (min-width:1024px) {
  .produtos.agrupa6 li{
    width: calc(16.67% - 2rem);
  }
}