.banner {
  padding-top: 4.875rem;
  background: url(../../img/banner-bg.png) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: var(--branco);
}

.banner__titulo {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.625rem;
  margin-bottom: .5rem;
}

.banner__descricao {
  font-weight: 600;
  font-size: .875rem;
  line-height: 1rem;
  margin-bottom: .5rem;
}

@media screen and (min-width:768px) {
  .banner {
    padding-top: 12rem;

  }
  .banner__titulo {
    font-size: 3.25rem;
  }

  .banner__descricao {
    font-size: 1.375rem;
    margin: 2rem 0;
  }
}