.formulario-contato {
    padding: 1rem;
    box-sizing: border-box;
}

.formulario-contato__titulo {
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.25rem;
}

@media screen and (min-width:1024px) {
    .formulario-contato{
        margin-right: 5rem;
    }
}