.entrada{
    display: block;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;

    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: var(--cinza-fonte);

    background-color: var(--branco);
    border: 0;
    border-bottom: 1px solid var(--cinza-fraco);
    border-radius: .25rem;
    margin: .5rem 0;
}

.entrada::placeholder {
    color: var(--cinza-medio);
}

.entrada--arendondada{
    display: block;
    font-size: 1rem;
    font-weight: 400;
    color: var(--cinza-fonte);
    background-color: var(--cinza-claro);
    border: 0;
    border-radius: 1rem;
    padding: .5rem 0 .5rem 1rem;
    margin-left: 1rem;
    margin-right: auto;
    width: 35%;
    max-width: 24.6rem;
}

.entrada--arendondada::placeholder{
    color: var(--cinza-medio);
    font-size: 0.875rem;
}

.lupa-a-direita::placeholder {
    background: url(../../img/Lupa-Input.svg) no-repeat;
    background-position: 100%;
    background-size: contain;
}

@media screen and (min-width: 1024px) {
    .entrada {
        margin-bottom: 2rem;
    }
}